<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="caex.caex30.design.variability.Activator"
               id="caex.caex30.design.variability"
	       name="feature-caex30.pcdef-variability">
    </component>
  </extension>
  <extension
        point="de.ovgu.featureide.core.composers">
     <composer
           class="caex.caex30.design.variability.composer.GenericComposer"
           description="feature-caex30.pcdef-variability-featureide.feature-caex30.pcdef-variability"
           id="caex.caex30.design.variability-featureide"
           name="caex.caex30.design.variability"
           nature="caex.caex30.design.variability-featureide">
     </composer>
 </extension>
  <extension point="org.eclipse.xtext.extension_resourceServiceProvider">
      <resourceServiceProvider
            class="caex.caex30.design.variability.providers.GenericResourceServiceProvider"
            uriExtension="caex">
      </resourceServiceProvider>
   </extension>
</plugin>
