<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CAEX30 -->
      <package
            uri="http://caex/3.0"
            class="caex.caex30.caex.CAEXPackage"
            genModel="model/CAEX30.genmodel"/>
   </extension>

</plugin>
